# تجاهل البيئة الوهمية
venv/
env/
.env

# تجاهل ملفات بايثون المترجمة والكاش
__pycache__/
*.py[cod]

# تجاهل قاعدة البيانات (يفضل عدم رفعها للحفاظ على الخصوصية)
db.sqlite3

# تجاهل ملفات الميديا (الصور المرفوعة)
media/